header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  height: 40px;
  padding: 1rem;
  color:  #f5f5f5;
  background: rgb(0, 116, 21);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  color: #f5f5f5;
  text-align: right;
  text-decoration: none;
  padding-right: 15px;
}

nav a:hover{
  color: rgb(238, 255, 0)
}

h1{
  font-size: 20px;
  margin: 0;
}

h2{
  font-size: 35px;
  text-align: center;
}

h3{
  font-size: 30px;
  text-align: left;
}

main {
  padding: 1rem;
  height: 100%;  
}

body {
  padding-inline: 100px;
  padding-top: 75px;
  background:  #f5f5f5;
}

body, html {
  height: 200%;
}

* {
  box-sizing: border-box;
}

div {
  width: 100%;
  height: 300px;
  align-items: center;
}



.movie-info1 {
  align-items: center;
  clear: both;
}

.movie-info2{
  align-items: center;
  clear: both;
  margin-top: 20px;
  height: 230px;
}

.poster-image-div{
  margin: auto;
  display: table-cell;
  align-items: center;
  vertical-align: middle;
  float: left;
  width: 40%;
  height: 400px;
}

.movie-info3{
  margin: auto;
  display: table-cell;
  vertical-align:middle;
  float: right;
  align-items: flex-start;
  width: 60%;
  height: 400px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.movie-title {
  text-align: left;
  margin:auto;
  color:rgb(0, 116, 21);
  font-size: 30px;
  float: left;
  width: 60%;
  height: 50px;
}

.movie-score {
  color: #73685d;
  text-align: center;
  margin:auto;
  margin-top: 20px;
  float: left;
  width: 60%;
  height: 50px;
  align-items: left;
}

.score-table {
  color: #73685d;
  text-align: center;
  font-size: 20px;
}

.movie-info4 {
  color: #73685d;
  text-align: center;
  margin: auto;
  font-size: 15px;
  float: left;
  margin-top: 10px;
}

.movie-director {
  color: #73685d;
  text-align: left;
  font-size: 15px;
}

.comment-recent{
  align-items: center;
  clear: both;
}

.comment-header{
  height: 40px;
  padding: 1rem;
  color:  #f5f5f5;
  background: rgb(0, 116, 21);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.array {
  margin-top: 20px;
  clear: both;
  border: 3px solid darkgreen;
  border-radius: 10px;
  height: 100ch;
  overflow: hidden;
}

table {
  width: 100%;
}

th, td {
  padding-top: 20px;
  text-align: left;
  border-bottom: 1px solid  #f5f5f5;
}

tr {
  padding-left: 20px;
}